nav {
    width: 300px;
    padding: 20px;
    top: 0px;
    padding-top: 100px;
    right: 0;
    height: 100vh;
    background-color: #ffffff;
    backdrop-filter: blur(5px);
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    box-shadow: 90px 0 100px var(--primary);

    >a {
        color: var(--primary);
        border: solid 1px var(--primary);
        box-shadow: 0 2px 0 var(--primary);
        padding: 15px 10px;
        text-decoration: none;
        border-radius: 8px;
        transition: all .5s;
        transition-timing-function: cubic-bezier(0.11, 0.69, 0.21, 2);

        &:hover {
            box-shadow: 0 4px 0 var(--primary);
            transform: translateY(-2px);
            text-decoration: none;
        }
    }

    transition: all .5s;

    &.hidden {
        box-shadow: 0px 0 0px var(--primary);
        transform: translateX(100%);
    }
}