body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
main{
    margin: 100px 5%;
}

article {
    padding: 20px;
    border-radius: 15px;

    width: 360px;

    background-color: #fff;
    border: solid 1px var(--primary);
    box-shadow: 0 5px 0 var(--primary);
    transition: all .5s;
    transition-timing-function: cubic-bezier(0.11, 0.69, 0.21, 2);

    > h1{
        font-size: 30px;
        text-transform: uppercase;
    }
    > form{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #EFF1F5;
        border-radius: 10px;
        overflow: hidden;
        > input[type="submit"]{
            padding: 10px 15px;
            background-color: var(--primary);
            border: 0;
            border-radius: 10px;
        }
        
        > input[type="submit"]{
            padding: 10px 15px;
            background-color: var(--primary);
            border: 0;
            border-radius: 10px;
        }
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 0 var(--primary);
    }
}
