* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Pretendard" !important;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    padding-left: 20px;
    padding-right: 20px;

    &>h2 {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.rv-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 0.4em var(--primary), 0 0.8em var(--primary);
    margin-bottom: 40px;
    
}

.review-box {
    background-color: transparent;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.review-box .header{
    display: flex;
    justify-content: space-between;
}
.review-list{
    flex:1;
}

.schedule{
    >.title{
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 10px;
    }
} 

.sh-item{
    font-size: 20px;
    > .name{
        font-weight: 700;
        margin-right: 5px;
    }
}

.review {
    display: flex;
    flex:1;
    margin-bottom: 15px;
    padding: 10px;
    > .date{
        width: 140px;
        padding: 5px;
    }
    > .review-inner {
        box-shadow: rgba(99, 99, 99, 0.04) 0px 2px 50px;
        background-color: #ffffff;
        padding: 30px 20px;
        border-radius: 15px;
        flex:1;
        gap: 20px;
        display: flex;
        flex-direction: row;
        > .name {
            font-weight: 800;
        }
        > .content{
            flex:1;
        }
        > .star {
            font-style: bold;
            font-weight: 800;
            color: #ffbf00;
        }
    }
}

.sitter-box {
    margin-bottom: 50px;
    > .name{
        font-size: 25px;
        font-weight: 800;
        font-style: bold;
    }
    
    > .content{
        display: flex;
        font-size: 24px;
        font-weight: 500;
        > img{
            max-width: 350px;
            border-radius: 15px;
            margin-left: 20px;
        }
    }
    
    > .footer{
        margin-top: 20px;
        display: flex;
        justify-content: end;
    }
}

.book-box {
    >.book {
        width: 100%;

        & thead {
            & th {
                padding: 4px;
                text-align: center;
            }
        }

        & tbody {
            & td {
                text-align: center;
                padding: 4px;
            }
        }

    }
}


.list-container {
    >.user {
        width: 100%;

        & thead {
            & th {
                padding: 4px;
                text-align: center;
            }

            & th:first-child {
                width: 20%;
            }

            & th:nth-child(2) {
                width: 70%;
            }

            & th:last-child {
                width: 10%;
            }
        }

        & tbody {
            & td {
                text-align: center;
                padding: 4px;
            }

            & th:first-child {
                width: 20%;
            }

            & th:nth-child(2) {
                width: 70%;
            }

            & th:last-child {
                width: 10%;
            }
        }

    }
}