body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signinBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 125px;
    width: 750px;
    height: 400px;
    border-radius: 15px;
    outline-style: solid;
    outline-color: #c6a0f6;
}

.signinDataBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    width: 300px;
}

.signinDataField {
    align-items: center;
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

.signupButton {
    height: 25px;
    width: 60px;
}

.signinButton {
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
article {
    padding: 20px;
    border-radius: 15px;
    width: 360px;
    background-color: #fff;
    border: solid 1px var(--primary);
    box-shadow: 0 5px 0 var(--primary);
    transition: all .5s;
    transition-timing-function: cubic-bezier(0.11, 0.69, 0.21, 2);

    > h1{
        font-size: 22px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
    }
}