.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* outline-style: solid; */

    width: 100%;
    max-width: 800px;
    height: 500px;
    aspect-ratio: 5 / 3;

    padding-left: 60px;
    padding-right: 60px;


    background-color: #fff;
    border: solid 3px var(--primary);
    box-shadow: 0 5px 0 var(--primary);

    & h1{
        width: 40%;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 600;
    }

    & input {
        width: 60%;
    }

    & button {
        aspect-ratio: 9 / 2;

        border-radius: 20px;
        border: 2px solid #ccc;

        cursor: pointer;

        background-color: #c6a0f6;     
        
        font-size: 20px;

        color: white;

        transition: all .2s ease-in-out;

        &:hover {
            background-color: white;
            color: #c6a0f6;
        }
    }
}

.signinDataBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 80%;
    height: 50%;
    > #inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        > .inputs {
            gap: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    > #submits {
        display: flex;
        gap: 100px;
        > button{
            white-space: nowrap;
            padding: 10px 50px;
        }
    }

    & input {
        width: 100%;
        outline: none;
        padding: 12px 15px;
        font-size: 20px;

        border-radius: 15px;
    }

    & button {
        width: 90%;
    }
}

.signinButton {
    width: 40%;
}
