body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    font-weight: bold;
}

.subtitle_box {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.subtitle_box h1 {
    color: #a179ff;
    font-weight: bold;
}

main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.reservation-box {
    margin: 10px;
    width: 80%;
    height: 160px;
    box-sizing: border-box;
    position: relative;
    text-align: left; 

    /* display: flex;
    gap: 20px; */

    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
    border: solid 1px var(--primary);
    box-shadow: 0 5px 0 var(--primary);
    transition: all .5s;
    transition-timing-function: cubic-bezier(0.11, 0.69, 0.21, 2);

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 0 var(--primary);
    }
}

.profile-pic {
    width: 125px;
    height: 125px;
    margin-right: 12px;
    float: left;
    

    >img {
        width: 100%;
        border-radius: 12px;
    }
}

.userName {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 24px; /* 폰트 사이즈 키우기 */
}

.sitterName {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    font-size: 22px; /* 폰트 사이즈 키우기 */
}

.date {
    font-size: 18px; /* 폰트 사이즈 키우기 */
    font-weight: bold;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    right: 25px;
}

.buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.buttons button {
    padding: 8px 16px;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.buttons button.review {
    background-color: var(--primary); /* 파란색 */
    color: #fff; /* 흰색 */
    border: none;
    font-weight: bold;
}

.buttons button.review:hover {
    background-color: #7227e2;
}

.buttons button.delete {
    background-color: #ef8074; /* 빨간색 */
    color: #fff; /* 흰색 */
    border: none;
    font-weight: bold;
}

.buttons button.delete:hover {
    background-color: #f1422f;
}